---
layout: archive
---

{{ content }}

The Daily Distribution uploads daily notes to the Notebook section.<br>
Notes focus on the current things of interest I am researching!<br>
Weekly, I track my progress towards my goals in Math, ML and AI in the Goals section.<br>
You can find the courses that I've completed, the books that I've read and the papers which I've studied in the Booklist tab :).<br>
<br>
Notes Log:
<ul>

<li>
  <a href="/assets/notes/ML/Meetup_%20Reinforcement%20Learning%20and%20how%20to%20build%20RL%20algos%20with%20OpenAI%20Gym%20-%20Mindbridge.pdf">2019-JUN-03 22:04 - Meetup_ Reinforcement Learning and how to build RL algos with OpenAI Gym - Mindbridge.pdf</a>
</li>
<li>
  <a href="/assets/notes/ML/Dropout%20%26%20Strides.pdf">2019-JUN-03 18:18 - Dropout &amp; Strides.pdf</a>
</li>
<li>
  <a href="/assets/notes/ML/DL_%20Stochastic%20Gradient%20Descent%2C%20Backpropagation%20%26%20ReLu.pdf">2019-JUN-02 08:53 - DL_ Stochastic Gradient Descent, Backpropagation &amp; ReLu.pdf</a>
</li>
<li>
  <a href="/assets/notes/ML/Transfer%20Learning.pdf">2019-JUN-02 08:53 - Transfer Learning.pdf</a>
</li>
<li>
  <a href="/assets/notes/ML/Convolutions.pdf">2019-JUN-01 21:18 - Convolutions.pdf</a>
</li>
<li>
  <a href="/assets/notes/ML/Data%20Leakage.pdf">2019-JUN-01 13:09 - Data Leakage.pdf</a>
</li>
<li>
  <a href="/assets/notes/ML/Hyperparameter%20Optimization.pdf">2019-MAY-31 16:54 - Hyperparameter Optimization.pdf</a>
</li>
<li>
  <a href="/assets/notes/Linear%20Algebra/Inner%20Product%2C%20Length%2C%20Orthogonality%2C%20SVD%20%26%20Intuition%20of%20Transposing.pdf">2019-MAY-22 09:03 - Inner Product, Length, Orthogonality, SVD & Intuition of Transposing.pdf</a>
</li>
<li>
  <a href="/assets/notes/Linear%20Algebra/Normal%20Equations.pdf">2019-MAY-22 09:03 - Normal Equations.pdf</a>
</li>
<li>
  <a href="/assets/notes/Statistics/TS%20CH10%20Linear%20Least%20Squares.pdf">2019-MAY-14 23:19 - TS CH10 Linear Least Squares.pdf - Pg. 6,7 & 8</a>
</li>
<li>
  <a href="/assets/notes/Statistics/TS%20CH10%20Linear%20Least%20Squares.pdf">2019-MAY-13 21:43 - TS CH10 Linear Least Squares.pdf - Pg. 4 & 5</a>
</li>
<li>
  <a href="/assets/notes/Statistics/TS%20CH10%20Linear%20Least%20Squares.pdf">2019-MAY-12 20:20 - TS CH10 Linear Least Squares.pdf</a>
</li>

</ul>
<!--
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
-->
