---
layout: archive
---

{{ content }}

The Daily Distribution uploads daily notes to the Notebook section.<br>
Notes focus on the current things of interest I am researching!<br>
Weekly, I track my progress towards my goals in Math, ML and AI in the Goals section.<br>
You can find the courses that I've completed, the books that I've read and the papers which I've studied in the Booklist tab :).<br>
<br>
Notes Log:
<ul>

  <li><a href="/assets/notes/Math%20Proofs/The%20Variance%20of%20a%20Shifted%20Dataset%20Is%20the%20Same.pdf">2019-JUL-1 - The Variance of a Shifted Dataset Is the Same.pdf</a></li>
<li><a href="/assets/notes/Math%20Proofs/The%20Variance%20of%20a%20Scaled%20Datasets.pdf">2019-JUL-1 - The Variance of a Scaled Datasets.pdf</a></li>
<li><a href="/assets/notes/Math%20Proofs/Incremental%20Variance.pdf">2019-JUL-1 - Incremental Variance.pdf</a></li>
<li><a href="/assets/notes/Statistics/Coursera%20Mathematics%20for%20ML%20-%20PCA/L1%20CH4%20Variance%20of%201D%20Datasets.pdf">2019-JUL-1 - L1 CH4 Variance of 1D Datasets.pdf</a></li>

  <li><a href="/assets/notes/Statistics/Coursera%20Mathematics%20for%20ML%20-%20PCA/L1%20CH4%20Variance%20of%201D%20Datasets.pdf">2019-JUL-1 - L1 CH4 Variance of 1D Datasets.pdf</a></li>

  <li><a href="/assets/notes/Statistics/Coursera%20Mathematics%20for%20ML%20-%20PCA/L1%20CH3%20Mean%20of%20Datasets%20Quiz.pdf">2019-JUN-29 08:43 - L1 CH3 Mean of Datasets Quiz.pdf</a></li>
  <li><a href="/assets/notes/Statistics/Coursera%20Mathematics%20for%20ML%20-%20PCA/L1%20CH2%20Mean%20of%20a%20Dataset.pdf">2019-JUN-29 08:43 - L1 CH2 Mean of a Dataset.pdf</a></li>
  <li><a href="/assets/notes/Statistics/Coursera%20Mathematics%20for%20ML%20-%20PCA/L1%20CH1%20Introduction%20.pdf">2019-JUN-29 08:43 - L1 CH1 Introduction .pdf</a></li>

  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L6%20CH5%20Least%20Squares%20Regression%20in%20Practice.pdf">2019-JUN-27 19:29 - L6 CH5 Least Squares Regression in Practice.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L6%20CH4%20Fitting%20a%20Non-Linear%20Function%20Quiz.pdf">2019-JUN-27 19:29 - L6 CH4 Fitting a Non-Linear Function Quiz.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L6%20CH3%20General%20Non-Linear%20Least%20Squares.pdf">2019-JUN-27 19:29 - L6 CH3 General Non-Linear Least Squares.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L6%20CH2%20Linear%20Regression%20Quiz.pdf">2019-JUN-27 19:29 - L6 CH2 Linear Regression Quiz.pdf</a></li>

  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L6%20CH1%20Simple%20Linear%20Regression.pdf">2019-JUN-26 07:26 - L6 CH1 Simple Linear Regression.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L5%20CH8%20Lagrange%20Multipliers%20Quiz.pdf">2019-JUN-25 21:33 - L5 CH8 Lagrange Multipliers Quiz.pdf</a></li>

  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L5%20CH6%20Constrained%20Optimization.pdf">2019-JUN-24 21:32 - L5 CH6 Constrained Optimization.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L5%20CH5%20Checking%20Newton-Raphson%20Quiz.pdf">2019-JUN-24 21:32 - L5 CH5 Checking Newton-Raphson Quiz.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L5%20CH4%20Gradient%20Descent%20in%20a%20Sandpit.pdf">2019-JUN-24 21:32 - L5 CH4 Gradient Descent in a Sandpit.pdf</a></li>

  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L5%20CH3%20Gradient%20Descent.pdf">2019-JUN-23 21:24 - L5 CH3 Gradient Descent.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L5%20CH2%20Newton-Raphson%20in%201D%20Quiz.pdf">2019-JUN-23 21:24 - L5 CH2 Newton-Raphson in 1D Quiz.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L5%20CH1%20Intro%20to%20Newton-Raphson.pdf">2019-JUN-23 21:24 - L5 CH1 Intro to Newton-Raphson.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L4%20CH11%202D%20Taylor%20Series%20Quiz.pdf">2019-JUN-23 21:24 - L4 CH11 2D Taylor Series Quiz.pdf</a></li>

  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L4%20CH10%20Multivariate%20Taylor.pdf">2019-JUN-22 11:03 - L4 CH10 Multivariate Taylor.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L4%20CH9%20Taylor%20Series%20Special%20Cases%20Quiz.pdf">2019-JUN-22 11:03 - L4 CH9 Taylor Series Special Cases Quiz.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L4%20CH8%20Linearisation.pdf">2019-JUN-22 11:03 - L4 CH8 Linearisation.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L4%20CH7%20Taylor%20Series%20Examples.pdf">2019-JUN-22 11:03 - L4 CH7 Taylor Series Examples.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L4%20CH6%20Applying%20The%20Taylor%20Series.pdf">2019-JUN-22 11:03 - L4 CH6 Applying The Taylor Series.pdf</a></li>

  <li><a href="/assets/notes/ML/CarletonU%20-%20Robin%20Grosset%20-%20Fraud%20Detection%20in%20Class%20Imbalance.pdf">2019-JUN-22 11:03 - CarletonU - Robin Grosset - Fraud Detection in Class Imbalance.pdf</a></li>
  <li><a href="/assets/notes/ML/CarletonU%20-%20NLP%20and%20Class%20Imbalance.pdf">2019-JUN-22 11:03 - CarletonU - NLP and Class Imbalance.pdf</a></li>
  <li><a href="/assets/notes/ML/CarletonU%20-%20Herna%20Viktor.pdf">2019-JUN-22 11:03 - CarletonU - Herna Viktor.pdf</a></li>
  <li><a href="/assets/notes/ML/CarletonU-%20Isar%20Nejadgholi%20-%20Privacy%20Preserving%20Data%20Augmentation%20in%20Medical%20Text%20Processing.pdf">2019-JUN-22 11:03 - CarletonU- Isar Nejadgholi - Privacy Preserving Data Augmentation in Medical Text Processing.pdf</a></li>
  <li><a href="/assets/notes/ML/CarletonU%20-%20Benjamin%20Fung%20-%20Authorship%20and%20Malware%20Analysis.pdf">2019-JUN-22 11:03 - CarletonU - Benjamin Fung - Authorship and Malware Analysis.pdf</a></li>

  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L4%20CH5%20Power%20Series%20Details.pdf">L4 CH5 Power Series Details.pdf</a></li>
  <li><a href="/assets/notes/ML/CarletonU%20-%20What%20is%20missing%20from%20common%20practice%20in%20machine%20Learning.pdf">CarletonU - What is missing from common practice in machine Learning.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L4%20CH4%20Power%20Series%20Derivation.pdf">2019-JUN-20 09:15 - L4 CH4 Power Series Derivation.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L4%20CH3%20Matching%20Functions%20and%20Approximations%20Quiz.pdf">2019-JUN-20 09:15 - L4 CH3 Matching Functions and Approximations Quiz.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L4%20CH2%20Power%20Series.pdf">2019-JUN-20 09:15 - L4 CH2 Power Series.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L4%20CH1%20Building%20Approximate%20Functions.pdf">2019-JUN-20 09:15 - L4 CH1 Building Approximate Functions.pdf</a></li>
  
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L3%20CH7%20Backpropagation%20Notebook.pdf">2019-JUN-19 18:46 - L3 CH7 Backpropagation Notebook.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L3%20CH6%20Training%20Neural%20Networks%20Quiz.pdf">2019-JUN-18 19:19 - L3 CH6 Training Neural Networks Quiz.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L3%20CH5%20More%20Simple%20Neural%20Networks.pdf">2019-JUN-18 19:19 - L3 CH5 More Simple Neural Networks.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L3%20CH4%20Simple%20Artificial%20Neural%20Networks%20Quiz.pdf">2019-JUN-18 19:19 - L3 CH4 Simple Artificial Neural Networks Quiz.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L3%20CH3%20Simple%20Neural%20Networks.pdf">2019-JUN-18 19:19 - L3 CH3 Simple Neural Networks.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L3%20CH2%20Multivariate%20Chain%20Rule%20Quiz.pdf">2019-JUN-18 19:19 - L3 CH2 Multivariate Chain Rule Quiz.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L3%20CH1%20Introduction%20and%20Multivariate%20Chain%20Rule.pdf">2019-JUN-18 19:19 - L3 CH1 Introduction and Multivariate Chain Rule.pdf</a></li>

  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L3%20CH2%20Multivariate%20Chain%20Rule%20Quiz.pdf">2019-JUN-17 09:08 - L3 CH2 Multivariate Chain Rule Quiz.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L3%20CH1%20Introduction%20and%20Multivariate%20Chain%20Rule.pdf">2019-JUN-17 09:08 - L3 CH1 Introduction and Multivariate Chain Rule.pdf</a></li>

  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L2%20CH10%20Reality%20is%20Hard.pdf">2019-JUN-16 19:22 - L2 CH10 Reality is Hard.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L2%20CH9%20Calculating%20Hessians%20Quiz.pdf">2019-JUN-16 19:22 - L2 CH9 Calculating Hessians Quiz.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L2%20CH8%20The%20Hessian.pdf">2019-JUN-16 19:22 - L2 CH8 The Hessian.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L2%20CH7%20Sandpit.pdf">2019-JUN-16 19:22 - L2 CH7 Sandpit.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L2%20CH6%20The%20Jacobian%20Applied.pdf">2019-JUN-16 19:22 - L2 CH6 The Jacobian Applied.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L2%20CH6%20Bigger%20Jacobians%20Quiz.pdf">2019-JUN-16 19:22 - L2 CH6 Bigger Jacobians Quiz.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L2%20CH5%20Calculating%20the%20Jacobian%20Quiz.pdf">2019-JUN-16 19:22 - L2 CH5 Calculating the Jacobian Quiz.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L2%20CH4%20The%20Jacobian.pdf">2019-JUN-16 19:22 - L2 CH4 The Jacobian.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L2%20CH3%20Practicing%20Partial%20Differentiation%20Quiz.pdf">2019-JUN-16 19:22 - L2 CH3 Practicing Partial Differentiation Quiz.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L2%20CH2%20Differentiation%20with%20Respect%20to%20Anything.pdf">2019-JUN-16 19:22 - L2 CH2 Differentiation with Respect to Anything.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L2%20CH1%20Variables%2C%20Constants%20and%20Context.pdf">2019-JUN-16 19:22 - L2 CH1 Variables, Constants and Context.pdf</a></li>

  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L1%20CH12%20Practicing%20the%20Chain%20Rule%20Quiz.pdf">2019-JUN-15 21:28 - L1 CH12 Practicing the Chain Rule Quiz.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L1%20CH11%20Taming%20The%20Beast.pdf">2019-JUN-15 21:28 - L1 CH11 Taming The Beast.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L1%20CH10%20Chain%20Rule.pdf">2019-JUN-15 21:28 - L1 CH10 Chain Rule.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L1%20CH9%20Practicing%20the%20Product%20Rule%20Quiz.pdf">2019-JUN-15 21:28 - L1 CH9 Practicing the Product Rule Quiz.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L1%20CH8%20Product%20Rule.pdf">2019-JUN-15 21:28 - L1 CH8 Product Rule.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L1%20CH7%20Differentiation%20Quiz.pdf">2019-JUN-15 21:28 - L1 CH7 Differentiation Quiz.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L1%20CH6%20Differentiation%20Examples%20and%20Special%20Cases.pdf">2019-JUN-15 21:28 - L1 CH6 Differentiation Examples and Special Cases.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L1%20CH5%20Definition%20of%20a%20Derivative.pdf">2019-JUN-15 21:28 - L1 CH5 Definition of a Derivative.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L1%20CH4%20Matching%20the%20Graph%20of%20a%20Function%20to%20the%20Graph%20of%20its%20Derivative%20Quiz.pdf">2019-JUN-15 21:28 - L1 CH4 Matching the Graph of a Function to the Graph of its Derivative Quiz.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L1%20CH3%20Rise%20Over%20Run.pdf">2019-JUN-15 21:28 - L1 CH3 Rise Over Run.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L1%20CH2%20Matching%20Functions%20Visually.pdf">2019-JUN-15 21:28 - L1 CH2 Matching Functions Visually.pdf</a></li>
  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L1%20CH1%20Functions.pdf">2019-JUN-15 21:28 - L1 CH1 Functions.pdf</a></li>

  <li><a href="/assets/notes/Calculus/Coursera%20-%20Mathematics%20for%20Machine%20Learning/Multivariate%20Calculus%20Introduction%20%26%20Formula%20Sheet.pdf">2109-JUN-14 07:40 - Multivariate Calculus Introduction & Formula Sheet.pdf</a></li>

  <li><a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L5%20CH9%20PageRank%20Part%20II..pdf">2019-JUN-13 18:58 - L5 CH9 PageRank Part II..pdf</a></li>

  <li><a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L5%20CH8%20Introduction%20to%20PageRank.pdf">2019-JUN-12 08:36 - L5 CH8 Introduction to PageRank.pdf</a></li>
  <li><a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L5%20CH7%20Diagonalization%20and%20Applications%20Quiz.pdf">2019-JUN-12 08:36 - L5 CH7 Diagonalization and Applications Quiz.pdf</a></li>

  <li><a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L5%20CH6%20Changing%20to%20the%20Eigenbasis.pdf">2019-JUN-11 21:49 - L5 CH6 Changing to the Eigenbasis.pdf</a></li>

  <li><a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L5%20CH5%20Characteristic%20Polynomials%2C%20Eigenvalues%20%26%20Eigenvectors%20Quiz.pdf">2019-JUN-10 21:46 - L5 CH5 Characteristic Polynomials, Eigenvalues and Eigenvectors Quiz.pdf</a></li>
  <li><a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L5%20CH4%20Calculating%20Eigenvectors.pdf">2019-JUN-10 21:46 - L5 CH4 Calculating Eigenvectors.pdf</a></li>
  <li><a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L5%20CH3%20Special%20Eigen%20Cases.pdf">2019-JUN-10 21:46 - L5 CH3 Special Eigen Cases.pdf</a></li>
  <li><a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L5%20CH2%20Selecting%20Eigenvectors%20by%20Inspection.pdf">2019-JUN-10 21:46 - L5 CH2 Selecting Eigenvectors by Inspection.pdf</a></li>
  <li><a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L5%20CH1%20Introduction.pdf">2019-JUN-10 21:46 - L5 CH1 Introduction.pdf</a></li>

  <li><a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L4%20CH8%20Reflecting%20in%20a%20Plane.pdf">2019-JUN-09 21:19 - L4 CH8 Reflecting in a Plane.pdf</a></li>
  <li><a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L4%20CH7%20The%20Gram-Schmidt%20Process.pdf">2019-JUN-09 21:19 - L4 CH7 The Gram-Schmidt Process.pdf</a></li>
  <li><a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L4%20CH6%20Orthogonal%20Matrices.pdf">2019-JUN-09 21:19 - L4 CH6 Orthogonal Matrices.pdf</a></li>
  <li><a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L4%20CH5%20Doing%20a%20Transformation%20of%20Basis.pdf">2019-JUN-09 21:19 - L4 CH5 Doing a Transformation of Basis.pdf</a></li>
  <li><a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L4%20CH4%20Matrices%20Changing%20Basis.pdf">2019-JUN-09 21:19 - L4 CH4 Matrices Changing Basis.pdf</a></li>
  <li><a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L4%20CH3%20Using%20Non-Square%20Matrices%20to%20do%20Projections%20Quiz.pdf">2019-JUN-09 21:19 - L4 CH3 Using Non-Square Matrices to do Projections Quiz.pdf</a></li>
  <li><a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L4%20CH2%20Non-Aquare%20Matrix%20Multiplication%20Quiz.pdf">2019-JUN-09 21:19 - L4 CH2 Non-Aquare Matrix Multiplication Quiz.pdf</a></li>
  <li><a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L4%20CH1%20Introduction%2C%20the%20Einstein%20Summation%20Convention%20and%20Dot%20Product%20Symmetry.pdf">2019-JUN-09 21:19 - L4 CH1 Introduction, the Einstein Summation Convention and Dot Product Symmetry.pdf</a></li>
  
  <li><a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L3%20CH2%20How%20Matrices%20Transform%20Space.pdf">2019-JUN-08 20:58 - L3 CH2 How Matrices Transform Space.pdf</a></li>
  <li><a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L3%20CH3%20Types%20of%20Matrix%20Transformation.pdf">2019-JUN-08 20:58 - L3 CH3 Types of Matrix Transformation.pdf</a></li>
  <li><a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L3%20CH4%20Composition%20or%20Combination%20of%20Matrix%20Transformations.pdf">2019-JUN-08 20:58 - L3 CH4 Composition or Combination of Matrix Transformations.pdf</a></li>
  <li><a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L3%20CH5%20Using%20Matrices%20to%20make%20Transformations.pdf">2019-JUN-08 20:58 - L3 CH5 Using Matrices to make Transformations.pdf</a></li>
  <li><a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L3%20CH6%20Gaussian%20Elimination.pdf">2019-JUN-08 20:58 - L3 CH6 Gaussian Elimination.pdf</a></li>
  <li><a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L3%20CH7%20Computing%20Inverse%20Matrices%20by%20Gaussian%20Elimination.pdf">2019-JUN-08 20:58 - L3 CH7 Computing Inverse Matrices by Gaussian Elimination.pdf</a></li>
  <li><a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L3%20CH8%20Solving%20Linear%20Equations%20Using%20the%20Inverse%20of%20a%20Matrix%20Quiz.pdf">2019-JUN-08 20:58 - L3 CH8 Solving Linear Equations Using the Inverse of a Matrix Quiz.pdf</a></li>
  <li><a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L3%20CH9%20Determinants%20and%20Inverses.pdf">2019-JUN-08 20:58 - L3 CH9 Determinants and Inverses.pdf</a></li>
  <li><a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L3%20CH10%20Identifying%20Special%20Matrices%20%26%20Summary.pdf">2019-JUN-08 20:58 - L3 CH10 Identifying Special Matrices & Summary.pdf</a></li>

  <li><a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L3%20CH1%20Matrices%2C%20Vectors%2C%20and%20Solving%20simultaneous%20equation%20problems.pdf">2019-JUN-07 21:11 - L3 CH1 Matrices, Vectors, and Solving simultaneous equation problems.pdf</a></li>
  <li><a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L2%20CH10%20Summary.pdf">2019-JUN-07 07:42 - L2 CH10 Summary.pdf</a></li>
  <li><a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L2%20CH9%20Linear%20Dependency%20of%20a%20Set%20of%20Vectors%20Quiz.pdf">2019-JUN-07 07:42 - L2 CH9 Linear Dependency of a Set of Vectors Quiz.pdf</a></li>
  <li><a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L2%20CH8%20Applications%20of%20Changing%20Basis.pdf">2019-JUN-07 07:42 - L2 CH8 Applications of Changing Basis.pdf</a></li>
  <li><a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L2%20CH7%20Basis%2C%20Vector%20Space%2C%20and%20Linear%20Independence.pdf">2019-JUN-07 07:42 - L2 CH7 Basis, Vector Space, and Linear Independence.pdf</a></li>
<li>
  <a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L2%20CH6%20Change%20of%20Basis%20Quiz.pdf">2019-JUN-06 22:27 - L2 CH6 Change of Basis Quiz.pdf</a>
</li>
<li>
  <a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L2%20CH5%20Change%20of%20Basis.pdf">2019-JUN-06 22:27 - L2 CH5 Change of Basis.pdf</a>
</li>
<li>
  <a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L2%20CH4%20Dot%20Product%20of%20Vectors%20Quiz.pdf">2019-JUN-05 07:16 - L2 CH4 Dot Product of Vectors Quiz.pdf</a>
</li>
<li>
  <a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L2%20CH3%20Projection.pdf">2019-JUN-05 07:16 - L2 CH3 Projection.pdf</a>
</li>
<li>
  <a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L2%20CH2%20Cosine%20and%20Dot%20Product.pdf">2019-JUN-04 21:30 - L2 CH2 Cosine and Dot Product.pdf</a>
</li>
<li>
  <a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L2%20CH1%20Modulus%20and%20Inner%20Product.pdf">2019-JUN-04 21:30 - L2 CH1 Modulus and Inner Product.pdf</a>
</li>
<li>
  <a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L1%20CH3%20Doing%20Some%20Vector%20Operations.pdf">2019-JUN-04 06:55 - L1 CH3 Doing Some Vector Operations.pdf</a>
</li>
<li>
  <a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L1%20CH2%20Vector%20Operations.pdf">2019-JUN-04 06:55 - L1 CH2 Vector Operations.pdf</a>
</li>
<li>
  <a href="/assets/notes/Linear%20Algebra/Coursera%20-%20Mathematics%20for%20Machine%20Learning/L1%20CH1%20Solving%20Simultaneous%20Equations%20Quiz.pdf">2019-JUN-04 06:55 - L1 CH1 Solving Simultaneous Equations Quiz.pdf</a>
</li>
<li>
  <a href="/assets/notes/ML/Meetup_%20Reinforcement%20Learning%20and%20how%20to%20build%20RL%20algos%20with%20OpenAI%20Gym%20-%20Mindbridge.pdf">2019-JUN-03 22:04 - Meetup_ Reinforcement Learning and how to build RL algos with OpenAI Gym - Mindbridge.pdf</a>
</li>
<li>
  <a href="/assets/notes/ML/Dropout%20%26%20Strides.pdf">2019-JUN-03 18:18 - Dropout &amp; Strides.pdf</a>
</li>
<li>
  <a href="/assets/notes/ML/DL_%20Stochastic%20Gradient%20Descent%2C%20Backpropagation%20%26%20ReLu.pdf">2019-JUN-02 08:53 - DL_ Stochastic Gradient Descent, Backpropagation &amp; ReLu.pdf</a>
</li>
<li>
  <a href="/assets/notes/ML/Transfer%20Learning.pdf">2019-JUN-02 08:53 - Transfer Learning.pdf</a>
</li>
<li>
  <a href="/assets/notes/ML/Convolutions.pdf">2019-JUN-01 21:18 - Convolutions.pdf</a>
</li>
<li>
  <a href="/assets/notes/ML/Data%20Leakage.pdf">2019-JUN-01 13:09 - Data Leakage.pdf</a>
</li>
<li>
  <a href="/assets/notes/ML/Hyperparameter%20Optimization.pdf">2019-MAY-31 16:54 - Hyperparameter Optimization.pdf</a>
</li>
<li>
  <a href="/assets/notes/Linear%20Algebra/Inner%20Product%2C%20Length%2C%20Orthogonality%2C%20SVD%20%26%20Intuition%20of%20Transposing.pdf">2019-MAY-22 09:03 - Inner Product, Length, Orthogonality, SVD & Intuition of Transposing.pdf</a>
</li>
<li>
  <a href="/assets/notes/Linear%20Algebra/Normal%20Equations.pdf">2019-MAY-22 09:03 - Normal Equations.pdf</a>
</li>
<li>
  <a href="/assets/notes/Statistics/TS%20CH10%20Linear%20Least%20Squares.pdf">2019-MAY-14 23:19 - TS CH10 Linear Least Squares.pdf - Pg. 6,7 & 8</a>
</li>
<li>
  <a href="/assets/notes/Statistics/TS%20CH10%20Linear%20Least%20Squares.pdf">2019-MAY-13 21:43 - TS CH10 Linear Least Squares.pdf - Pg. 4 & 5</a>
</li>
<li>
  <a href="/assets/notes/Statistics/TS%20CH10%20Linear%20Least%20Squares.pdf">2019-MAY-12 20:20 - TS CH10 Linear Least Squares.pdf</a>
</li>

</ul>
<!--
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
-->
